In [14]:
import pandas as pd
import os
wdir = '/Users/candicewithrow/code/niffler/niffler'

In [2]:
pwd

'/Users/candicewithrow/code/niffler/niffler'

In [3]:
import json
with open(os.path.join(wdir,'output/full_02_03_2019.json'), 'r') as f:
                nested_data = json.load(f)

In [17]:
posts=pd.read_json(os.path.join(wdir,'output/2019_02_28/posts2019_02_28.json'), 
                   orient='records')
comments=pd.read_json(os.path.join(wdir,'output/2019_02_28/comments2019_02_28.json'), 
                      orient='records')
replies=pd.read_json(os.path.join(wdir,'output/2019_02_28/replies2019_02_28.json'), orient='records')

In [16]:
posts.head(5)

,post,post_id,updated_time
0,"So, do I have this correct? The baking powder...",6.456587e+27,2019-02-26 14:17:57
1,Is there anything you would add to \nthis docu...,6.456587e+27,2019-02-26 13:43:02
2,Can someone explain this to me please? MAgnesi...,6.456587e+27,2019-02-26 08:44:45
3,"Couldn't see much about calamine lotion,is it ...",6.456587e+27,2019-02-26 02:56:59
4,"I had an allergic reaction at the dentist, pro...",6.456587e+27,2019-02-25 21:26:08

In [18]:
comments.head()

,comm_id,comment,created_time,post_id
0,10155668654010856,"I thought I suggested Hain, as I contacted the...",2018-08-25 14:59:05,6.456587e+27
1,10155668757310856,Most baking powder the issue is the corn starc...,2018-08-25 15:50:54,6.456587e+27
2,10155668870210856,"So, Janice, do you mean whole milk straight fr...",2018-08-25 17:07:34,6.456587e+27
3,10156022084220856,I just bought the Bakewell product. It should ...,2019-02-21 20:26:50,6.456587e+27
4,10156026653210856,Following,2019-02-24 05:05:47,6.456587e+27

In [19]:
replies.head()

,comm_id,created_time,post_id,rep_id,reply
0,10155668654010856,2018-08-25 15:14:12,6.456587e+27,10155668679545856,"Yes, Liz, Hain is also on our shopping list. ..."
1,10155668654010856,2018-08-25 15:25:53,6.456587e+27,10155668708010856,Kathy O'Connor Van Corbach This is the email I...
2,10155668654010856,2018-08-25 16:16:15,6.456587e+27,10155668793820856,"Yes, I found that response. I was just thinki..."
3,10155668654010856,2018-08-25 16:21:39,6.456587e+27,10155668800955856,Kathy O'Connor Van Corbach I have been that si...
4,10155668654010856,2018-08-25 17:01:33,6.456587e+27,10155668860965856,"I'm definitely going to try it then, Liz! Tha..."

In [20]:
full_df = pd.merge(posts, comments, on='post_id')

In [27]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [32]:
full_df['post_id']

0       6456587085610155216258203648.000
1       6456587085610155216258203648.000
2       6456587085610155216258203648.000
3       6456587085610155216258203648.000
4       6456587085610155216258203648.000
5       6456587085610155216258203648.000
6       6456587085610155216258203648.000
7       6456587085610155216258203648.000
8       6456587085610155216258203648.000
9       6456587085610155216258203648.000
10      6456587085610155216258203648.000
11      6456587085610155216258203648.000
12      6456587085610155216258203648.000
13      6456587085610155216258203648.000
14      6456587085610155216258203648.000
15      6456587085610155216258203648.000
16      6456587085610155216258203648.000
17      6456587085610155216258203648.000
18      6456587085610155216258203648.000
19      6456587085610155216258203648.000
20      6456587085610155216258203648.000
21      6456587085610155216258203648.000
22      6456587085610155216258203648.000
23      6456587085610155216258203648.000
24      6456587085610155216258203648.000
25      6456587085610155216258203648.000
26      6456587085610155216258203648.000
27      6456587085610155216258203648.000
28      6456587085610155216258203648.000
29      6456587085610155216258203648.000
                      ...
18193   6456587085610156315769831424.000
18194   6456587085610156315769831424.000
18195   6456587085610156315769831424.000
18196   6456587085610156315769831424.000
18197   6456587085610156315769831424.000
18198   6456587085610156315769831424.000
18199   6456587085610156315769831424.000
18200   6456587085610156315769831424.000
18201   6456587085610156315769831424.000
18202   6456587085610156315769831424.000
18203   6456587085610156315769831424.000
18204   6456587085610156315769831424.000
18205   6456587085610156315769831424.000
18206   6456587085610156315769831424.000
18207   6456587085610156315769831424.000
18208   6456587085610156315769831424.000
18209   6456587085610156315769831424.000
18210   6456587085610156315769831424.000
18211   6456587085610156315769831424.000
18212   6456587085610156315769831424.000
18213   6456587085610156315769831424.000
18214   6456587085610156315769831424.000
18215   6456587085610156315769831424.000
18216   6456587085610156315769831424.000
18217   6456587085610156315769831424.000
18218   6456587085610156315769831424.000
18219   6456587085610156315769831424.000
18220   6456587085610156315769831424.000
18221   6456587085610151917723320320.000
18222   6456587085610151917723320320.000
Name: post_id, Length: 18223, dtype: float64

In [12]:
from pandas.io.json import json_normalize
posts = json_normalize(nested_data)[['post_id','message','updated_time']]
comments = json_normalize(nested_data, record_path='comments', meta=['post_id'])
comments.head(3)

,cid,created_time,message,replies,post_id
0,10155966481665857,2019-01-24T20:05:45+0000,Not ocular but yes migraines are my primary re...,"[{'message': 'Clare Ross same', 'created_time'...",64565870856_10155966469605857
1,10155966792785857,2019-01-24T22:58:51+0000,"I have ocular migraines occasionally, but...",NaN,64565870856_10155966469605857
2,10155966795795857,2019-01-24T23:02:44+0000,My ocular migraines decreased significantly af...,NaN,64565870856_10155966469605857

In [8]:
full_df = pd.merge(posts, comments, on='post_id')
full_df[['message_x','message_y', 'created_time', 'updated_time']].head(5)

,message_x,message_y,created_time,updated_time
0,Do any of you get ocular migraines? Any relati...,Not ocular but yes migraines are my primary re...,2019-01-24T20:05:45+0000,2019-02-02T19:04:06+0000
1,Do any of you get ocular migraines? Any relati...,"I have ocular migraines occasionally, but...",2019-01-24T22:58:51+0000,2019-02-02T19:04:06+0000
2,Do any of you get ocular migraines? Any relati...,My ocular migraines decreased significantly af...,2019-01-24T23:02:44+0000,2019-02-02T19:04:06+0000
3,Do any of you get ocular migraines? Any relati...,My daughter’s primary reaction to sulfites is ...,2019-01-24T23:56:29+0000,2019-02-02T19:04:06+0000
4,Do any of you get ocular migraines? Any relati...,I used to get ocular migraines but haven’t had...,2019-01-25T00:44:44+0000,2019-02-02T19:04:06+0000

In [13]:
full_df['post_updated']=pd.to_datetime(full_df['updated_time'])
full_df['message_created']=pd.to_datetime(full_df['created_time'])
full_df[['message_x','message_y', 'post_updated', 'message_created']].head(2)

,message_x,message_y,post_updated,message_created
0,Do any of you get ocular migraines? Any relati...,Not ocular but yes migraines are my primary re...,2019-02-02 19:04:06,2019-01-24 20:05:45
1,Do any of you get ocular migraines? Any relati...,"I have ocular migraines occasionally, but...",2019-02-02 19:04:06,2019-01-24 22:58:51

In [10]:
full_df['updated_time'].apply(lambda x:pd.to_datetime(x).date().strftime('%m-%d-%Y')).head()

0    02-02-2019
1    02-02-2019
2    02-02-2019
3    02-02-2019
4    02-02-2019
Name: updated_time, dtype: object